<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>

<form action="/name" method="post">
    <label for="url">Enter Movie Name: </label>
    <input type="text" name="name" placeholder="Enter Movie Name">
    <input type="submit" value="OK">
</form>
</body>
</html>
